*/config/development
*/config/production
*/config/testing
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.txt
*.sh
public_html/preview*
phpmyadmin/
phpldapadmin/
openvbx/
tmp/
*doxygen*
