body {
	background-color: #f5f5f5;
	padding-top: 60px;
}

pre, .well { background: #fff; }

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.05); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.logo {
	display: block;
	margin: 10px auto 20px;
}

td.avatar { width: 22px; }

div.auth .alert {
	width: 307px;
	margin-right: auto;
	margin-left: auto;
}

.error-container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.error-container .well {
	padding: 60px 0;
	margin-top: 40px;
}

.nomargin {
	margin: 0;
}

table.tablesorter th.header {
	cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

table.tablesorter th.header:hover {
	background-image: url("../img/sort.gif");
}

table.tablesorter th.headerSortDown:hover,
table.tablesorter th.headerSortUp:hover  {
	background-image: none;
}

table.tablesorter th.headerSortDown,
table.tablesorter th.headerSortUp  {
	background-image: url("../img/desc.gif") !important;
	background-color: #efefef;
}

table.tablesorter th.headerSortUp  {
	background-image: url("../img/asc.gif") !important;
}